.owner-page{
    position:fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(192, 231, 233);
}

.post-property{
    position: inherit;
}


  body{
    /* background-image: url("https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252_960_720.jpg"); */
    /* background-image: url("https://images.pexels.com/photos/733852/pexels-photo-733852.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
   background-position: 50%; */
  }
   
